/* Contact form styles */
.form-container {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    width: 60%; /* Set width of form container */
    margin: 0 auto; /* Center form container horizontally */
    text-align: center; /* Center form text */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add box shadow */
  }
  
  .contact-container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .header {
    text-align: center;
    color: white;
    padding-top: 200px;
  }
  
  .form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .form-container textarea {
    height: 150px;
  }
  
  .form-container button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 70%; /* Set width of button to 70% */
    display: block; /* Make button a block element */
    margin: 0 auto; /* Center button horizontally */
  }
  
  .form-container button[type="submit"]:hover {
    background-color: #45a049;
  }
  